.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-width: 800px;

  border-radius: 4px;
}
